# Ignore virtual environment folder
myenv/

# Ignore JSON files (parsed messages and hidden phrase)
*.json

# Ignore any logs that might be generated
*.log

# Ignore yaml file needed to set up EC2 instance
*.yaml